* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f3f6;
    width: 100vw;
    
}

.backdrop {
    background: #f1f3f6;
    top: 0;
    position: fixed;
    height: 45%;
    z-index: 4;
    width: 36%;
}

.hide {
    display: none;
}
.homeContainer {
    margin: 2em;
    width: 95%;
    padding-top: 22%;
}

.roomSelectionContainer {
    height: 8em;
    padding-top: 2em;
}
/*
p {
    color: #9dabc0;
    font-size: x-large;
    flex-grow: 1;
    padding-left: 7em;
    right: 2em;
}
    */
.homeContainer p {
    font-size: xx-large;
}
.deviceCard p { /*Small Screen*/
   font-size: x-large;
    flex-grow: 1;
    padding-left: 1em;
    right: 2em;
}

p {
    color: #9dabc0;
}

.roomButtonContainer p{
    font-size: larger;
    margin: 20%;
}


.temp {
    margin-right: 1em;
    margin-left: 3em;
}
.stateOn { /*Lights*/
    color: darkgoldenrod !important;
    
}

.stateOn2 { /*Sensor*/
    color: #4584b5 !important;
}

.stateOn3 { /*Door Lock*/
    color: darkgreen !important;
}
.stateOff {
    color: #9dabc0 !important;
}

.stateCold, .stateLocked {
    color: #4584b5 !important;
}

.stateHot, .stateUnlocked, .stateError {
    color: orangered !important;
}

.mdi-waves:before {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    animation: wave 2s ease-in-out infinite;
}
    /*
.landing {
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    position: relative;
    margin-top: 1%;
    width: 21%;
    border-radius: 20px;
    height: 10em;
}
    */
.landing { /*Small screen*/
        box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
        position: relative;
        margin-top: 1%;
        width: 82%;
        border-radius: 20px;
        max-width: 30em;
        margin-left: 1%;
        margin-bottom: 2%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 2em;
    contain: content;
}

.deviceContainer {
    display: flex;
    padding-top: 5em;
    max-height: 21em;
    padding-right: 7em;
    width: 100%;
    flex-wrap: wrap;
}
.headerContainer {
    margin: 2em;
    position: fixed;
    background: #f1f3f6;
    z-index: 4;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-left: 2em;
    top: 0;
    padding-top: 2em;
}

/*
.deviceCard {
    align-items: center;
    display: flex;
    align-items: center;
    margin: 3em;
    padding: 1em;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    position: relative;
    margin-top: 1%;
    left: 5%;
    width: 40em;
    border-radius: 20px;
    height: 14em;
}
*/
.deviceCard { /*smaller screen*/
    align-items: center;
    display: flex;
    align-items: center;
    margin: 2em;
    padding: 1em;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    position: relative;
    margin-top: 10%;
    width: 75%;
    border-radius: 20px;
    max-width: 27em;

}
    .brush {
    pointer-events: none;
    position: absolute;
    left: 47px;
    top: 52%;
    opacity: 1;
    stroke-width: 500;
    stroke-dasharray: 200;
    animation: fadeIn 0.5s forwards ease;
    width: 50vw;
    perspective: 1000px;
}

.buttonContainer,
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    width: 10em;
}

.cta {
    width: 120px;
    height: 100px;
    border-radius: 20px;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

    .cta:hover i {
        color: #4584b5;
        
    }

    .cta i {
        color: #9dabc0;
    }

.buttonContainer:hover .cta {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.roomButtonContainer {
    
}


/*Glider Fixes*/
.glider-contain {
    width: 85%;
    margin: 0;
    max-width: 33em;
    padding: 0;
}

.glider-dot:hover, .glider-dot:focus, .glider-dot.active {
    background: #4584b5;
}

/*Animations*/


@keyframes wave {
    0% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
    50% {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@media only screen and (max-width: 600px) {

    .homeContainer {
        padding-top: 74%;
    }

    .glider-contain {
        width: 85%;
        margin: 0;
        max-width: 33em;
    }

    .homeContainer .glider-contain {
        padding-right: 4%;
    }

    .headerContainer .glider-contain {
        padding: 0;
    }

    .thermostatContainer {
        padding-left: 30%;
        height: 17em;
    }
    .thermostatContainer p {
        padding: 0;
        position: absolute;
        top: 0;
        left: 8%;
    }
    .thermostateMode {
        top: 65%;
        position: absolute;
        left: 30%;
    }
    .thermostatContainer h3 {
        position: absolute;
        top: 14%;
        left: 25%;
    }
    .thermostatContainer h1 {
        top: 65%;
        position: absolute;
        left: 30%;
    }
}
